body {
  background-color: #000000;
}

.game-container {
  background-image: url("../sprites/megaman-intro.jpg");
  background-size: 1000px 100vh;
  background-position: 0 0;
  width: 700px;
  height: 100vh;
  margin: auto;
}

.title-text {
  color: #F9F9F9;
  font-size: 48px;
  text-align: center;
  font-family: 'Geo', sans-serif;
  margin: 50px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  width: 130px;
}

.app-container {
  display: flex;
  width: 700px;
  height: 630px;
  margin: auto;
}

.canvas-container {
  position: relative;
  top: 0px;
  left: 0px;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 300px;
  height: 630px;
  background: rgba(0, 0, 0, 0.75);
  border: 10px solid #D3D3D3;
  border-radius: 5px;
}

.sidebar {
  font-size: 24px;
  font-family: 'Geo', sans-serif;
  color: #F9F9F9;
  background-color: #000000;
  opacity: .95;
}

.sidebar-text {
  padding: 15px;
}

.links-form {
  margin: 20px;
}


.icon-social-github {
  color: #000000;
  font-size: 28px;
  transition: background-color 0.15s ease-in-out;
  padding-left: 2px;
}

.icon-social-linkedin {
  color: #000000;
  font-size: 28px;
  transition: background-color 0.15s ease-in-out;
  padding-left: 2px;
}

.icon-user {
  color: #000000;
  font-size: 28px;
  transition: background-color 0.15s ease-in-out;
  padding-left: 2px;
}

.button-link {
  text-align: center;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  background-color: #F9F9F9;
}

#game-over{
  font-family: 'Geo', sans-serif;
  color: #F9F9F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 300px;
  height: 630px;
  background: rgba(0, 0, 0, 0.75);
  border: 10px solid #D3D3D3;
  border-radius: 5px;
}

#not-game-over {
  display: none;
}

.game-over-text-heading {
  font-size: 48px;
  text-align: center;
  padding-top: 40px;

}

.game-over-text {
  font-size: 24px;
}
