body {
  background-color: #000000;
}

.app-container {
  display: flex;
  justify-content: space-between;
  background-image: url("../sprites/megaman-intro.jpg");
  background-size: 1000px 100vh;
  background-position: 0 0;
  width: 700px;
  height: 100vh;
  margin: auto;
}

#canvas {
  width: 300px;
  height: 720px;
  background-color: #000000;
  opacity: .75;
}

.sidebar {
  width: 150px;
  height: 360px;
  background-color: #000000;
  margin-top: 10vh;
}

.links {

}
