body {
  background-color: #000000;
}

.game-container {
  background-image: url("../sprites/megaman-intro.jpg");
  background-size: 1000px 100vh;
  background-position: 0 0;
  width: 700px;
  height: 100vh;
  margin: auto;
}

.title-text {
  color: #F9F9F9;
  font-size: 48px;
  text-align: center;
  font-family: 'Geo', sans-serif;
  margin: 50px;
}



.app-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 720px;
  margin: auto;
}

#canvas {
  width: 300px;
  height: 720px;
  background: rgba(0, 0, 0, 0.75);
}

.sidebar {
  font-size: 24px;
  font-family: 'Geo', sans-serif;
  color: #F9F9F9;
  width: 150px;
  height: 360px;
  background-color: #000000;
  opacity: .9;
}

.links-form {
  margin: 20px;
}


.icon-social-github {
  color: #000000;
  font-size: 28px;
  transition: background-color 0.15s ease-in-out;
  padding-left: 2px;
}

.icon-social-linkedin {
  color: #000000;
  font-size: 28px;
  transition: background-color 0.15s ease-in-out;
  padding-left: 2px;
}

.icon-user {
  color: #000000;
  font-size: 28px;
  transition: background-color 0.15s ease-in-out;
  padding-left: 2px;
}

.button-link {
  text-align: center;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  background-color: #F9F9F9;
}
